.mainmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px dotted green;
  background-color: "#aaa";
  .logo {
    // border: 1px dotted blue;
    display: flex;
    align-items: center;
    // justify-content: space-around;
    max-height: 6rem;
    .title {
      // border: 1px dotted green;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        margin: 0;
        margin-left: 2rem;
        color: #80cc2a;
      }
    }
  }

  menu {
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-direction: row;
    .nav-link {
      height: 100%;

      color: #80cc2a;
    }
    .nav-link-selected {
      background-color: rgba($color: #00ff11, $alpha: 0.4);
      border: 1px dotted green;
    }
  }
}
