.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  // gap: 0.6rem;
  margin: 0.5rem;

  padding: 0.1rem;
  // border: 1px dotted green;
  width: 23rem;

  position: relative;
  z-index: 5;
}

.card-points {
  position: absolute;

  z-index: 1000;

  font-size: 7rem;

  font-weight: bolder;
  animation: cardpoints 0.7s forwards;
}

@keyframes cardpoints {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-5rem);
    opacity: 0;
  }
}
