.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  // gap: 0.6rem;
  margin: 0.5rem;

  padding: 0.1rem;
  border: 1px dotted green;
  width: 23rem;

  position: relative;
}
