.gamecontrols {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.checkbutton {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}
