.form_radio_group {
  display: flex;
  flex-direction: row;
}
.form_radio_group-item {
  // display: inline-block;
  // float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_radio_group input[type="radio"] {
  display: none;
  position: absolute;
}
.form_radio_group label {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  margin: 0;
  padding: 0px 15px;
  color: white;
  border: 1px solid #999;
  border-right: none;
  user-select: none;
}

.form_radio_group .form_radio_group-item:first-child label {
  border-radius: 6px 0 0 6px;
}
.form_radio_group .form_radio_group-item:last-child label {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid #999;
}

/* Checked */
.form_radio_group input[type="radio"]:checked + label {
  background: #0040a6;
}

/* Hover */
.form_radio_group label:hover {
  color: #666;
}

/* Disabled */
.form_radio_group input[type="radio"]:disabled + label {
  background: #efefef;
  color: #666;
}
