.card {
  // border: 1px dotted green;

  padding: 0.1rem;

  margin: 0.15rem;

  width: 5rem;
  height: 5rem;

  &.cardopen {
    .front {
      transform: perspective(600px) rotateY(-180deg);
    }

    .back {
      transform: perspective(600px) rotateY(0);
    }
  }
}
.front,
.back {
  width: 5rem;
  height: 5rem;

  overflow: hidden;
  position: absolute;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; // For Safari

  transition: transform 0.5s ease;

  border-radius: 0.5rem;

  background: url(./assets/background.png) no-repeat center;
  background-size: 100%;
}

.front {
  transform: perspective(600px) rotateY(0);
}

.back {
  transform: perspective(600px) rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.target-card {
  animation: glowing 4000ms infinite;
  border-radius: 0.5rem;
}

@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 1px #2ba805;
  }
  25% {
    background-color: #49e819;
    box-shadow: 0 0 30px #49e819;
  }
  50% {
    background-color: #2ba805;
    box-shadow: 0 0 1px #2ba805;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 1px #2ba805;
  }
}
