.gameinfo {
  // border: 1px dotted green;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: 3rem;

  padding: 1rem;
}

.gcdiv {
  font-size: 1.1rem;
  padding: 0.2rem;
  span {
    font-weight: bold;
  }
}
